/* логотип, сети, телефон */
.header_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
   
}
.contact_logo {
    display: flex;
    justify-content: center;
}
.header_img__size {
    max-width: 70%; 
    height: auto; 
    display: block; 
}
.contact_tel > a {
    color: var(--text-color);
    text-decoration: none;
}

/* Меню на основном экране */
.header {
    background-color: var(--background-color);
}
.header_menu {
   height: 15vh; 
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style-type: none;
}
.header_menu > a{
   color: var(--text-color);
   font-size: 1.5rem;
   line-height: 1.5;
   text-decoration: none;
   font-weight: bolder;
}  


/* белая полоса */
.header_white-line {
    width: 80%;          
    height: 2px;        
    background-color: white; 
    margin: 0 auto;    
}
       

/* Бургер menu */
       @media (max-width: 768px) {
           .menu.show {
               display: block; 
           }
           .burger-icon {
               display: block;
               cursor: pointer;
               width: 30px;
               height: 30px;
               position: absolute;
               top: 15px;
               right: 15px;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
           }
           .burger-icon div {
               width: 30px;
               height: 4px;
               background-color: white;
               border-radius: 2px;
               transition: 0.3s;
           }
     
           .menu {
            max-height: 0; 
            opacity: 0; 
            visibility: hidden;
            overflow: hidden; 
            position: absolute;
            background-color: var(--background-color);
            height: 50vh;
            width: 100%;
            transition: max-height 0.4s ease, opacity 0.4s ease; 
            z-index: 1;
        }
           
        .menu a {
            color: var(--text-color);
            text-decoration: none;
            display: block;
            font-weight: bolder;
            padding: 10px;
            border-radius: 3px;
            transition: background-color 0.1s;
            text-align: center;
        }
        .menu a:hover {
            background-color: #555;
        }
        .menu.show {
         max-height: 300px; 
         opacity: 1; 
         visibility: visible;
     }
     .header_white-line {
         background-color: var(--text-color);
     }
 
    }


    /* блок 2 с картинкой */
 .main {
     background-image: url('../images/cover.DNG'); 
     background-size: cover; 
     background-position: center; 
     height: 100vh;
     display: flex; 
     justify-content: center; 
     align-items: center; 
     color: white; 
     text-align: center; 
    
}
.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text__paragraf {
    border: 2px solid #FAB803;
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    max-width: 70%;
    filter: brightness(1.1);
}
 .main_text__paragraf > a {
    text-decoration: none;
    color: #FAB803;
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    filter: brightness(1.1);
 }  
.main_text__bolder {
    font-weight: bolder;
}

.main_text__header {
    font-size: 4rem;
    color: #FAB803;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    filter: brightness(1.1);
    
}

@media (max-width: 768px) {
    .main_text__paragraf {
        font-size: 2rem; 
    }
    
    .main_text__header {
        font-size: 3rem; 
    }
}



/* блок 3 карусель */

.carousel {
    display: flex;
    
    transition: transform 0.5s ease; 
}

.carousel img {
    width: 800%; 
    flex-shrink: 0;
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}



.carousel-container {
   
    position: relative;
    width: 60%; 
 
    max-width: 800px; 
    margin: 2rem auto; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.carousel {
    display: flex;
    transition: transform 0.5s ease; 
    width: 100%; 
}

.carousel img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-indicators {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.indicator {
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background-color: #bbb; 
    margin: 0 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.indicator.active {
    background-color: #FAB803; 
}


@media (max-width: 768px) {
    .indicator {
        width: 5px; 
        height: 5px; 
        margin: 0 3px; 
    }
}







/* виды потолков */
.types_ceilings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    background-color:#fbfcfd
}
.header_black-line {
    width: 80%;          
    height: 2px;        
    background-color: rgb(80, 79, 79); 
    margin: 0 auto;
}
.types_ceilings__size {
   font-size: 2.3rem;
   text-align: center;
}





/* блок карточки */
.wrapper_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f8fa
}
.card {
    max-width: 400px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #fff;
    margin: 20px;
    transition: transform 0.3s ease;
}


.card:hover {
    transform: scale(1.05);
}


.card-image {
    width: 100%;
    height: 330px;
    object-fit: cover; 
}


.card-content {
    padding: 15px;
    text-align: center;
}


.card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 10px;
}


.card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    text-align: justify;
}


.card-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  
} 

.card-button:hover {
    background-color: #90b9e9;
} 

@media (max-width: 600px) {
    .card {
        max-width: 100%;
        margin: 10px;
    } }





















  
/* блок обратной связи */

/* Общий контейнер */
.section {
    position: relative;
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Фоновое изображение */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/images feedback/IMG_1953.JPG');
    background-size: cover;
    background-position: center;
    z-index: 1; /* Уровень фона */
}

/* Контент поверх фона */
.content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2; /* Поверх изображения */
}

/* Следующий блок */
.next-section-form {
    /* padding: 50px; */
    background-color: white;
    z-index: 1;
}

/* Плавный переход */
.section, .next-section-form {
    transition: transform 0.5s ease; /* Плавный переход между блоками */
}

/* Анимация наезда следующего блока при прокрутке */
.section:hover {
    transform: translateY(-20px);
}


/* блок формы */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    width: 100%;
    max-width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #FAB803;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    color: #333;
    /* width: 50%; */
}

.contact-form label {
    display: block;
    margin-top: 15px;
    color: #555;
    /* width: 50%; */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* text-align: center; */
}

.contact-form .form-button {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .form-button:hover {
    background-color: #0056b3;
}



/* блок реклама контейнер лого*/
.logo-icons-container {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 33%;
    padding: 1.5rem;
    
}
.image_icons_container {
    width: 150px;
    height: 150px;
    background-color:#FAB803;
    border-radius: 50%;
}
.image_icons > img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 24px;
    left: 24px;
}

@media (max-width:930px) {
    .logo-icons-container {
        flex-direction: column;
    }
    .wrapper-icons {
        padding: 1rem;
    }
}


/* форма обратной связи 2 */
.contact-form__color {
    background-color: white;
}


/* блок о нас */














    
  



     
       
       





